@(solicitud: Solicitud, detsolicitudes: List[DetalleSolicitud])
@main("Consultar Solicitud"){
<div class="ui middle centered grid" style="margin-top:60px;margin-bottom:30px;">
    <div class="ui centered card" style="width:30%;background-color:#95bea5;margin-bottom: 70px;">
        <div class="one column row">
            <div class="column ">
                <div class="ui content">
                    <div class="ui center aligned header" style="margin-top: 1em;">@solicitud.getBeneficiario.getNombreB() @solicitud.getBeneficiario.getApellidoB()</div>
                    <div class="center aligned description">
                        <div class="meta" style="margin-bottom:10px;">@solicitud.getEmpleado().getFundacion().getNombre()</div>
                        <p><b>Cédula:</b> @solicitud.getBeneficiario.getCedulaB()</p>
                        <p><b>Prioridad:</b> @solicitud.getPrioridad()</p>
                        <p><b>Fecha de registro:</b> @solicitud.getFechaRegistro()</p>
                        <p><b>Razón:</b> @solicitud.getRazon()</p>
                        <p><b>Estatus:</b> @solicitud.obtenerEstatus()</p>
                    </div>
                    <table class="ui basic table">
                        <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Tipo</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(det <- detsolicitudes) { 
                            <tr>
                            <td>@det.getServicio().getNombre()</td>
                            <td>@det.getServicio().getTipo()</td>
                            <td>@det.getCosto() bs.</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <p><b>Presupuesto de la solicitud:</b> @solicitud.CalcularPresupuesto(solicitud.getCod_solicitud()) bs</p>
                    <p><b>Presupuesto disponible:</b> 120.000bs</p>
                </div>
                <div class="ui container ">
                    <a href="@routes.CSolicitud.solicitudes" class="ui left floated blue button"
                        style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 2em;">
                        Cancelar
                    </a>
                    <button class="ui teal button" style="margin-top: 2em;margin-bottom: 1.5em;">
                        Rechazar
                    </button>
                    <button class="ui right floated green button"
                        style="margin-top: 2em;margin-bottom: 1.5em; margin-right: 2em;">
                        Aprobar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
}