@(empleado : Empleado)
@main("Consultar empleado"){
<!--PARA USUARIO ADMMINISTRADOR-->

<div class="ui middle centered grid" style="margin-top: 50px">
    <div class="three wide tablet seven wide computer column">
        <div class="ui segment" style="background-color: #95bea5;">
            <h2 class="ui header" style="margin-top:10px; margin-left: 15px;">Consultar Empleado</h2>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Cédula:</b></p>
                    <div class="ui input">
                        <input placeholder="Cédula" type="text" value="@empleado.getCedulaE()" readonly>
                    </div>
                </div>
                <div class="column">
                    <p><b>Fundación:</b></p>
                    <select name="Fundación asociada" class="ui dropdown" disabled>
                        <option value="">Fundación</option>
                        <option value="@empleado.getFundacion().getCod_fundacion()" selected>
                            @empleado.getFundacion().getNombre()</option>
                    </select>
                </div>
                <div class="column">
                    <p><b>Nombre:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" type="text" value="@empleado.getNombre()" readonly>
                    </div>
                </div>
                <div class="column">
                    <p><b>Apellido:</b></p>
                    <div class="ui input">
                        <input placeholder="Apellido" type="text" value="@empleado.getApellido()" readonly>
                    </div>
                </div>
                <div class="column">
                    <p><b>Teléfono:</b></p>
                    <div class="ui input">
                        <input placeholder="Teléfono" type="text" value="@empleado.getTelefono()" readonly>
                    </div>
                </div>
                <div class="column">
                    <p><b>Correo:</b></p>
                    <div class="ui input">
                        <input placeholder="Correo" type="text" value="@empleado.getCorreo()" readonly>
                    </div>
                </div>
                <div class="column">
                    <p><b>Dirección:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" type="text" value="@empleado.getDireccion()" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="ui container">
                        <a class="ui left floated blue button" href="@routes.CEmpleado.listado_empleados" style="margin-bottom: 1.5em; ">
                            Atrás
                        </a>
                        <a class="ui right floated green button"
                            href="@routes.CEmpleado.modif_empl(empleado.getCedulaE())" style="margin-right: 3em;margin-bottom: 1.5em;">
                            Modificar
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
}