@(empleadoForm: Form[Empleado], empleados:List[Empleado])
@main("Consultar empleado"){
<!--PARA USUARIO ADMMINISTRADOR-->

<div class="ui middle centered grid" style="margin-top: 50px">
    <div class="three wide tablet seven wide computer column">
        <div class="ui segment" style="background-color: #95bea5;">
            <h2 class="ui header" style="margin-top:10px; margin-left: 15px;">Consultar Empleado</h2>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Cédula:</b> @empleado.getCedulaE()</p>
                </div>
                <div class="column">
                    <p><b>Fundación Asociada:</b> @empleado.getFundacion().getNombre </p>
                </div>
                <div class="column">
                    <p><b>Nombre:</b> @empleado.getNombre() </p>
                </div>
                <div class="column">
                    <p><b>Apellido:</b> @empleado.getApellido() </p>
                </div>
                <div class="column">
                    <p><b>Teléfono:</b> @empleado.getTelefono() </p>
                </div>
                <div class="column">
                    <p><b>Correo:</b> @empleado.getCorreo() </p>            
                </div>
                <div class="column">
                    <p><b>Dirección:</b> @empleado.getDireccion() </p>                    
                </div>
            </div>
            <div class="ui container ">
                <a class="ui left floated blue button" href="@routes.CEmpleado.listado_empleados"
                    style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 2em;">
                    Cancelar
                </a>
                <button class="ui teal button" style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 8em;">
                    Limpiar
                </button>
                <a class="ui right floated green button" onclick="javascrip:confirmarModificarEmpleado();"
                    style="margin-top: 2em;margin-bottom: 1.5em; margin-right: 2em;">
                    Modificar
                </a>
            </div>
        </div>
    </div>
</div>
}