@main("Empleados"){
<!--Solo para el Administrador-->
<div class="ui raised segments" style="margin:60px">
    <div class="ui segment" style="background-color:#97c5a9;">
        <div class="ui three column grid">
            <div class="column">
                <h2 class="ui header" style="margin-left: 1.5em; margin-top: 0.1em">
                    <i class="users icon"></i>
                    Empleados
                </h2>
            </div>
            <div class="column">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" placeholder="Buscar..." type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="column">
                <a href="@routes.CEmpleado.incl_empleado" class="ui right floated green button">
                    Añadir
                </a>
            </div>
        </div>
    </div>
    <div class="ui content">
        <table class="ui striped inverted grey table">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Fundación Asociada</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0000001</td>
                    <td>Anyeli Villareal</td>
                    <td>Fundación de Ayuda a Niños, Niñas y Adolescentes</td>
                    <td><a class="circular ui icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="icon eye"></i>
                        </a>
                        <a class="circular ui red icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>0000002</td>
                    <td>María Rico</td>
                    <td>Fundación de Ayuda a Niños, Niñas y Adolescentes</td>
                    <td><a class="circular ui icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="icon eye"></i>
                        </a>
                        <a class="circular ui red icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>0000003</td>
                    <td>Omerly Mendoza</td>
                    <td>Fundación de Ayuda a Niños, Niñas y Adolescentes</td>
                    <td><a class="circular ui icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="icon eye"></i>
                        </a>
                        <a class="circular ui red icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>0000004</td>
                    <td>María Paredes</td>
                    <td>Fundación de Ayuda a Niños, Niñas y Adolescentes</td>
                    <td><a class="circular ui icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="icon eye"></i>
                        </a>
                        <a class="circular ui red icon button" href="@routes.CEmpleado.consultar_empleado">
                            <i class="trash alternate icon"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}