@(empleados:List[Empleados])
@main("Empleados"){
<!--Solo para el Administrador-->
<div class="ui raised segments" style="margin:60px">
    <div class="ui segment" style="background-color:#97c5a9;">
        <div class="ui three column grid">
            <div class="column">
                <h2 class="ui header" style="margin-left: 1.5em; margin-top: 0.1em">
                    <i class="users icon"></i>
                    Empleados
                </h2>
            </div>
            <div class="column">
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" placeholder="Buscar..." type="text">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div class="column">
                <a href="@routes.CEmpleado.incl_empleado" class="ui right floated green button">
                    Añadir
                </a>
            </div>
        </div>
    </div>

@if(empleados.length!=0) {
<div class="ui three column grid" style="margin-left: 95px; margin-top: 20px;">
@for(empleado <- empleados) {
    <div class="column">
        <div class="ui card" style="background-color: #a0d1b7">
            <div class="content">
                <div class="header">@empleado.getNombre()</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label><b>Cédula:</b></label>
                            <label>@empleado.getCedulaE()</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                             <label><b>Teléfono: </b></label>
                            <label>@empleado.getTelefono()</label>
                        </div>
                    </div><div class="event">
                        <div class="content">
                             <label><b>Fundación Asociada: </b></label>
                            <label>@empleado.getFundacion().getNombre()</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <a class="ui left floated blue button"
                    href="@routes.CEmpleado.consultar_empleado(empleado.getCedulaE_empleado())"><i class="edit icon"
                        style="padding-left: 5px;"></i></a>
                <a class="ui right floated red button"
                    onclick="javascript:confirmarEliminarEmpleado('@empleado.getCedulaE()');"><i class="trash alternate icon"
                        style="padding-left: 5px;"></i></a>
            </div>                   
        </div>
    </div>
}
</div>
} else {
    <div class="ui center aligned grid">
        <div class="ui content center aligned">
            <div class="ui segment" style="background-color: #dfd2ad;margin-top: 3em;">
                <h3>No hay empleados registrados aún.</h3>
            </div>
        </div>
    </div>
    }
</div>
}