@main("Empleados"){
<!--Solo para el Administrador-->
<div class="ui raised segments" style="margin:60px">
    <div class="ui segment" style="background-color:seagreen;">
        <div class="ui two colum grid">
            <div class="colum">
                <h2 class="ui header" style="margin-left: 3em; margin-top: 1em; text-align: center">
                    <i class="users icon"></i>
                    <div class="content">
                        Empleados
                    </div>
                </h2>
            </div>
            <div class="column">
                <div class="ui action input" style="margin-left: 40em">
                    <input type="text" placeholder="Buscar...">
                    <button class="ui icon button" style="background-color:darkgray">
                        <i class="search icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment">
        <table class="ui striped inverted table">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Fundación Asociada</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0000001</td>
                    <td>Anyeli Villareal</td>
                    <td>Las mujeres</td>
                    <td><button class="circular ui icon button">
                            <i class="icon eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>0000002</td>
                    <td>María Rico</td>
                    <td>Los niños</td>
                    <td><button class="circular ui icon button">
                            <i class="icon eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>0000003</td>
                    <td>Omerly Mendoza</td>
                    <td>Discapacitados</td>
                    <td><button class="circular ui icon button">
                            <i class="icon eye"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>0000004</td>
                    <td>María Paredes</td>
                    <td>Las mujeres</td>
                    <td><button class="circular ui icon button">
                            <i class="icon eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="@routes.HomeController.incl_empleado"><button class="ui centered floated blue button" style="margin-left: 35em;">
            <i class="add icon"></i>
                Añadir
            </button></a>
    </div>
</div>
}