@main("Fundaciones"){
<!--PARA USUARIO ADMINISTRADOR-->
<div class="row">
    <div class="ui fluid container" style="overflow: hidden;">
        <button class="ui large right floated green button" style="margin-right: 6.5em">Crear</button>
    </div>
</div>

<div class="ui three column grid" style="margin-left: 95px; margin-top: 20px;">
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Dirección: Carrera 30 con calle 30
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Partida Asignada: 50.000bs
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Otra cosa mas...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Solo para el admin, falta validación-->
            <div class="extra content">
                <div class="ui container center aligned">
                    <button class="ui blue button">Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Dirección: Carrera 30 con calle 30
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Partida Asignada: 50.000bs
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Otra cosa mas...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="ui container center aligned">
                    <button class="ui blue button">Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Dirección: Carrera 30 con calle 30
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Partida Asignada: 50.000bs
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Otra cosa mas...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="ui container center aligned">
                    <button class="ui blue button">Modificar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Dirección: Carrera 30 con calle 30
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Partida Asignada: 50.000bs
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Otra cosa mas...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="ui container center aligned">
                    <button class="ui blue button">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>

}