@main("Fundaciones"){
<!--PARA USUARIO ADMINISTRADOR-->
<div class="row">
    <div class="ui fluid container" style="overflow: hidden;margin-top: 2em;">
        <a href="@routes.HomeController.incl_fundacion"><button class="ui large right floated green button"
                style="margin-right: 6.5em">Incluir</button></a>
    </div>
</div>

<div class="ui three column grid" style="margin-left: 95px; margin-top: 20px;">
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label><b>Dirección:</b></label>
                            <label>Carrera 30 con calle 30</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Teléfono: </b></label>
                            <label>0451-7365892</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Correo: </b></label>
                            <label>funda@@gmail.com</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Partida Asignada: </b></label>
                            <label>50.000bs</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">

                <button class="ui left floated blue button"><i class="edit icon"
                        style="padding-left: 5px;"></i></button>
                <button class="ui right floated red button"><i class="trash alternate icon"
                        style="padding-left: 5px;"></i></button>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label><b>Dirección:</b></label>
                            <label>Carrera 30 con calle 30</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Teléfono: </b></label>
                            <label>0451-7365892</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Correo: </b></label>
                            <label>funda@@gmail.com</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Partida Asignada: </b></label>
                            <label>50.000bs</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">

                <button class="ui left floated blue button"><i class="edit icon"
                        style="padding-left: 5px;"></i></button>
                <button class="ui right floated red button"><i class="trash alternate icon"
                        style="padding-left: 5px;"></i></button>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label><b>Dirección:</b></label>
                            <label>Carrera 30 con calle 30</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Teléfono: </b></label>
                            <label>0451-7365892</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Correo: </b></label>
                            <label>funda@@gmail.com</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Partida Asignada: </b></label>
                            <label>50.000bs</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">

                <button class="ui left floated blue button"><i class="edit icon"
                        style="padding-left: 5px;"></i></button>
                <button class="ui right floated red button"><i class="trash alternate icon"
                        style="padding-left: 5px;"></i></button>

            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="background-color: #dfd2ad">
            <div class="content">
                <div class="header">Fundacion de los niños/as y Adolescentes</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Información</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label><b>Dirección:</b></label>
                            <label>Carrera 30 con calle 30</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Teléfono: </b></label>
                            <label>0451-7365892</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Correo: </b></label>
                            <label>funda@@gmail.com</label>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <label><b>Partida Asignada: </b></label>
                            <label>50.000bs</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <button class="ui left floated blue button"><i class="edit icon"
                        style="padding-left: 5px;"></i></button>
                <button class="ui right floated red button"><i class="trash alternate icon"
                        style="padding-left: 5px;"></i></button>
            </div>
        </div>
    </div>
</div>

}