
@main("Incluir servicio"){
<!--PARA USUARIO ADMMINISTRADOR-->

<div class="ui middle centered grid" style="margin-top: 50px">
    <div class="three wide tablet seven wide computer column">
        <div class="ui segment" style="background-color: #95bea5;">
            <h2 class="ui header" style="margin-top:10px; margin-left: 15px;">Incluir servicios</h2>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Nombre:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Costo:</b></p>
                    <div class="ui input">
                        <input placeholder="Costo" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Tipo:</b></p>
                    <select name="Tipos" class="ui dropdown" id="Tipos">
                        <option value="">Tipo</option>
                        <option value="Médico">Médico</option>
                        <option value="Donación">Donación</option>
                    </select>
                </div>
            </div>
            <div class="ui container ">
                <a class="ui left floated blue button" href="@routes.HomeController.servicios"
                    style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 2em;">
                    Cancelar
            </a>
                <button class="ui teal button" style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 8em;">
                    Limpiar
                </button>
                <button class="ui right floated green button"
                    style="margin-top: 2em;margin-bottom: 1.5em; margin-right: 2em;">
                    Incluir
                </button>
            </div>
        </div>
    </div>
</div>
}