@main("Incluir fundación"){
<!--PARA USUARIO ADMINISTRADOR-->
<div class="ui middle centered grid" style="margin-top: 2em;">
    <div class="six wide tablet eight wide computer column">
        <div class="ui segment" style="background-color: #e6d4b3;">
            <h2 class="ui header" style="margin-top:10px;">Incluir fundación</h2>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Nombre:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Dirección:</b></p>
                    <div class="ui input">
                        <input placeholder="Dirección" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Teléfono:</b></p>
                    <div class="ui input">
                        <input placeholder="Teléfono" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Correo:</b></p>
                    <div class="ui input">
                        <input placeholder="Correo" type="text">
                    </div>
                </div>
                <div class="ui container ">
                    <button class="ui left floated blue button"
                        style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 0.5em;">
                        Cancelar
                    </button>
                    <button class="ui teal button"
                        style="margin-top: 2em;margin-bottom: 1.5em; margin-left: 8em;">
                        Limpiar
                    </button>
                    <button class="ui right floated green button"
                        style="margin-top: 2em;margin-bottom: 1.5em; margin-right: 3em;">
                        Incluir
                    </button>
                </div>
            </div>
        </div>
    </div>
    }