@import helper._
@(loginForm: Form[Usuario])
@main("Fundakira - Iniciar sesión") {
    <meta charset="utf-8">
<style type="text/css">
    .image {
        margin-top: -100px;
    }
    
    .column {
        max-width: 450px;
    }
</style>

<div class="ui center aligned grid" style="margin-top: 10em">    
    <div class="column">
        <div class="ui large segment" style="background-color:#aae1a9">
            <img src="@routes.Assets.versioned("images/logo.png")" style="height: 100px;width: auto;margin-bottom:1em;"></img>
            @helper.form(action = routes.CLogin.login(), 'class -> "ui large form") {
                @CSRF.formField

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="cedula_E" type="text" name="cedula_E" placeholder="Cédula de identidad:" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="contrasenna" type="password" name="contrasenna" placeholder="Constraseña:" required>
                    </div>
                </div>
                <button class="ui fluid large blue submit button" type="submit">Iniciar sesión</button>
            }
        </div>
    </div>
</div>

}