@(fundaciones: List[Fundacion],solicitudes:List[Solicitud])
@main("¡Bienvenido!"){
<div class="ui content" style="margin-top:20px;margin-left: 90px;margin-right: 90px;">
    <div class="ui two column grid">
        <div class="ui column">
            <div class="ui segment" style="background-color: #95bea5;">
                <h3>Costo de las solicitudes aprobadas</h3>
                    @helper.CSRF.formField
                    <select class="ui dropdown" id="fundacion">
                        <option value="">Fundaciones</option>
                    @for(fund<-fundaciones){
                        <option value="@fund.getCod_fundacion()">@fund.getNombre()</option>
                    }
                    </select>
                <div class="ui two column grid">
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Desde:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 01/12/2018" id="fechaDesde" type="text">
                        </div>
                    </div>
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Hasta:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 31/12/2018" id="fechaHasta" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <p><b>Costo:</b></p>
                        <div class="ui input">
                            <input placeholder="Bs" id="bs" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <button onclick="javascript:calcularSoliAp();" class="ui green button" style="margin-top:2em;">
                            Calcular
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui segment" style="background-color: #95bea5;">
                <h3>Costo de presupuestos generados</h3>
                <div class="ui two column grid">
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Desde:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 01/12/2018" id="fdesde" type="text">
                        </div>
                    </div>
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Hasta:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 31/12/2018" id="fhasta" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <p><b>Costo:</b></p>
                        <div class="ui input">
                            <input placeholder="Bs" id="bs1" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <button onclick="javascript:calcPres();" class="ui green button" style="margin-top:2em;">
                            Calcular
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}