@main("Bienvenido Poseidón!"){
<div class="ui content" style="margin-top:20px;margin-left: 90px;margin-right: 90px;">
    <div class="ui two column grid">
        <div class="ui column">
            <div class="ui segment" style="background-color: #95bea5;">
                <h3>Costo de las solicitudes aprobadas</h3>
                <select class="ui dropdown">
                    <option value="">Fundaciones</option>
                    <option value="0">Todos</option>
                    <option value="1">Fundación de Ayuda a Niños, Niñas y Adolescentes</option>
                    <option value="2">Fundación de Atención al Discapacitado</option>
                    <option value="3">Fundación Regional de la Mujer</option>
                </select>
                <div class="ui two column grid">
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Desde:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 01/12/2018" type="text">
                        </div>
                    </div>
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Hasta:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 31/12/2018" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <p><b>Costo:</b></p>
                        <label>379.000 Bs</label>
                    </div>
                    <div class="ui column">
                        <button class="ui green button" style="margin-top:2em;">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui column">
            <div class="ui segment" style="background-color: #95bea5;">
                <h3>Costo de presupuestos generados</h3>
                <div class="ui two column grid">
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Desde:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 01/12/2018" type="text">
                        </div>
                    </div>
                    <div class="ui column" style="margin-top: 10px;">
                        <p><b>Hasta:</b></p>
                        <div class="ui input">
                            <input placeholder="Ej: 31/12/2018" type="text">
                        </div>
                    </div>
                    <div class="ui column">
                        <p><b>Costo:</b></p>
                        <label>379.000 Bs</label>
                    </div>
                    <div class="ui column">
                        <button class="ui green button" style="margin-top:2em;">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}