@main("Fundakira - Registro de Solicitudes"){
<!--PARA USUARIO EMPLEADO-->
<div class="ui middle centered grid" style="margin-top: 2em;">
    <div class="six wide tablet eight wide computer column">
        <div class="ui segment" style="background-color: #95bea5;">
            <h2 class="ui header" style="margin-top:10px; margin-left: 15px;">Crear solicitudes</h2>
            <h4 class="ui horizontal divider header" style="margin-top:1em;">Datos del Beneficiario</h4>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Cédula:</b></p>
                    <div class="ui input">
                        <input placeholder="Cédula" type="text">
                    </div>
                </div>
                <div class="column">
                    <button class="ui medium grey button" style="margin-top: 30px;">
                        <i class="search icon"></i>Buscar
                    </button>
                </div>
                <div class="column">
                    <p><b>Nombre:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Apellido:</b></p>
                    <div class="ui input">
                        <input placeholder="Apellido" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Dirección:</b></p>
                    <div class="ui input">
                        <input placeholder="Dirección" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Teléfono:</b></p>
                    <div class="ui input">
                        <input placeholder="Teléfono" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Correo:</b></p>
                    <div class="ui input">
                        <input placeholder="Correo" type="text">
                    </div>
                </div>
            </div>
            <h4 class="ui horizontal divider header" style="margin-top:1.5em;">Datos de la solicitud</h4>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Seleccione los servicios:</b></p>
                    <select name="Servicios" multiple="" class="ui fluid dropdown" id="servicios"
                        style="margin-right:20px;">
                        <option value="">Servicios</option>
                        <option value="Odontología">Odontología</option>
                        <option value="Psicología">Psicología</option>
                        <option value="General">General</option>
                    </select>
                </div>
                <div class="column">
                    <p><b>Prioridad:</b></p>
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="Prioridad" checked="checked" type="radio">
                                    <label>Alta</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="Prioridad" type="radio">
                                    <label>Media</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="Prioridad" type="radio">
                                    <label>Baja</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p><b>Otra Donación:</b></p>
                    <div class="ui input">
                        <input placeholder="Donaciones" type="text">
                    </div>
                </div>
                <div class="column">
                    <div class="ui form">
                        <div class="field" style="margin-right: 1em;">
                            <p><b>Razón:</b></p>
                            <textarea rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui container center aligned">
                <button class="ui medium green button" style="margin-top: 2em;">
                    Crear
                </button>
            </div>
        </div>
    </div>
</div>
}