@import helper._
@(solicitudForm : Form[Solicitud], beneficiarioForm : Form[Beneficiario], usuarioForm : Form[Usuario],servicios: List[Servicio])
@main("Fundakira - Registro de Solicitudes"){
<!--PARA USUARIO EMPLEADO-->
<div class="ui middle centered grid" style="margin-top: 2em;">
    @if(flash.containsKey("error")){
    <div class="row">
        <div class="ui error message">
            <i class="close icon"></i>
            <div class="header">Hay algunos errores con tu formulario. </div>
            <ul class="list">
                @for(error <- beneficiarioForm.errors()){
                    @if(error.message !="error.invalid" ){ 
                        <li>@error.message</li>
                    }
                }
                @for(error <- usuarioForm.errors()){
                    @if(error.message !="error.invalid" ){ 
                        <li>@error.message</li>
                    }
                }
                @for(error <- solicitudForm.errors()){
                    @if(error.message !="error.invalid" ){ 
                        <li>@error.message</li>
                    }
                }
            </ul>
        </div>
    </div>
    }
    <div class="six wide tablet eight wide computer column">
        <div class="ui segment" style="background-color: #95bea5;">
            @helper.form(action = routes.CSolicitud.guardarB, 'id -> "formBeneficiario") {
            @CSRF.formField
            <h2 class="ui header" style="margin-top:10px; margin-left: 15px;">Crear solicitudes</h2>
            <h4 class="ui horizontal divider header" style="margin-top:1em;">Datos del Beneficiario</h4>
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Cédula:</b></p>
                    <div class="ui input">
                        <input placeholder="Cédula" id="cedulaB" name="cedulaB" type="text">
                    </div>
                </div>
                <div class="column">
                    <a class="ui medium grey button" style="margin-top: 30px;" onclick="javascript:validarIdentidad();"
                        id="buscarBeneficiario">
                        <i class="search icon"></i>Buscar
                    </a>
                </div>
                <div class="column">
                    <p><b>Nombre:</b></p>
                    <div class="ui input">
                        <input placeholder="Nombre" id="nombreB" name="nombreB" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Apellido:</b></p>
                    <div class="ui input">
                        <input placeholder="Apellido" id="apellidoB" name="apellidoB" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Dirección:</b></p>
                    <div class="ui input">
                        <input placeholder="Dirección" id="direccionB" name="direccionB" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Teléfono:</b></p>
                    <div class="ui input">
                        <input placeholder="Teléfono" id="telefonoB" name="telefonoB" type="text">
                    </div>
                </div>
                <div class="column">
                    <p><b>Correo:</b></p>
                    <div class="ui input">
                        <input placeholder="Correo" id="correoB" name="correoB" type="text">
                    </div>
                </div> 
                <div class="column">
                    <p id="lblcon" style="display:none"><b>Contraseña:</b></p>
                    <div class="ui input">
                        <input placeholder="Contraseña" id="contrasenna" name="contrasenna" style="display:none" type="password">
                    </div>
                </div>
                <div class="column">
                    <p id="lblcc" style="display:none"><b>Confirmar Contraseña:</b></p>
                    <div class="ui input">
                        <input placeholder="Confirmar Contraseña" id="conf_contrasenna" name="conf_contrasenna" style="display:none" type="password">
                    </div>
                </div>
                <input  id="estatusB" name="estatusB" type="hidden" value="A">
                <input  id="estatus" name="estatus" type="hidden" value="A">
                <div class="ui container center aligned">
                    <a id="crearbeneficiario" onclick="javascript:confirmarCreacionBeneficiario();"
                        class="ui medium green button"
                        style="margin-top: 1em; margin-bottom:1em;margin-right:45px; display:none">
                        Crear
                    </a>
                </div>
            </div>}
            <h4 class="ui horizontal divider header" style="margin-top:1.5em;">Datos de la solicitud</h4>
            @helper.form(action = routes.CSolicitud.guardarS(), 'id -> "formSolicitud") {
            @CSRF.formField
            <div class="ui two column grid" style="margin-left: 30px;">
                <div class="column">
                    <p><b>Seleccione los servicios:</b></p>
                    <select name="Servicios" multiple="" class="ui dropdown" id="servicios"
                        style="margin-right:20px;">
                        <option value="">Servicios</option>
                        <option value="0">Consulta General</option>
                        <option value="1">Consulta Oftalmologica</option>
                    </select>
                </div>
                <div class="column">
                    <p><b>Prioridad:</b></p>
                    <div class="ui form">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="prioridad" id="prioridad" value="Alta" checked="checked" type="radio">
                                    <label>Alta</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="prioridad" id="prioridad" value="Media" type="radio">
                                    <label>Media</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input name="prioridad" id="prioridad" value="Baja" type="radio">
                                    <label>Baja</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p><b>Otra Donación:</b></p>
                    <div class="ui input">
                        <input name="otrasDonaciones" id="otrasDonaciones" placeholder="Donaciones" type="text">
                    </div>
                </div>
                <div class="column">
                    <div class="ui form">
                        <div class="field" style="margin-right: 1em;">
                            <p><b>Razón:</b></p>
                            <textarea name="razon" id="razon" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui container center aligned">
                <button class="ui medium green button" style="margin-top: 2em;">
                    Crear
                </button>
            </div> }
        </div>
    </div>
</div>
}