@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("semantic/semantic.min.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
        <style type="text/css">
            body {
              background-color: #c7cdcc;
            }
            body > .grid {
              height: 100%;
            }
            ::placeholder{
              color:#9ca1a3;
              opacity: 1;
            }
          </style>
    </head>
    @if(request.path!="/") {
      @topbar("Zeus", "von Ratten") 
    }
    <body>
        @content
    </body>

    <script src="@routes.Assets.versioned("jquery-3.4.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("semantic/semantic.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("semantic/scripts.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("sweetalert-2.8.js")" type="text/javascript"></script>
    @if(flash().get("success")!=null) {
      <script>imprimirMensaje('@flash().get("success")');</script>
    }
    @if(flash().get("error_login")!=null) {
      <script>imprimirError('@flash().get("error_login")');</script>
  }
</html>
