@(title: String)(content: Html)

<!DOCTYPE html>
@user = @{Empleado.buscador.porCedula(request.session().getOptional("user").orElse(""))}
@fundacion = @{user.getFundacion().getNombre()}
@tipouser = @{user.getTipoU()}
@nombreE = @{user.getNombre()}
@apellidoE = @{user.getApellido()}
<html lang="es">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("semantic/semantic.min.css")">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
        <style type="text/css">
            body {
              background-color: #c7cdcc;
            }
            body > .grid {
              height: 100%;
            }
            ::placeholder{
              color:#9ca1a3;
              opacity: 1;
            }
          </style>
    </head>
    @if( user!=null || request.path=="/registrarse/") {
      @if(request.path!="/" && request.path!="/registrarse/") {
        @topbar(nombreE.toString(), apellidoE.toString(), fundacion.toString(),tipouser.toString()) 
      }
      <body>
          @content
      </body>
    } else {
      @if(request.path!="/" && request.path!="/beneficiario/guardar") {
        <body>
          <div class="ui segment">
            <p>INICIA SESION!!!!</p>
          </div>
        </body>
      } else {
        @content
      }
    }

    <script src="@routes.Assets.versioned("jquery-3.4.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("jquery.dataTables.min.js")"></script>
    <script src="@routes.Assets.versioned("dataTables.semanticui.min.js")"></script>
    <script src="@routes.Assets.versioned("semantic/semantic.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("semantic/semantic.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("main.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("sweetalert-2.8.js")" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script><!-- html2canvas 1.0.0-alpha.11 or higher version is needed -->
    <script>
        function download(nombre) {
            let pdf = new jsPDF('l', 'pt', [1920, 640]);
            pdf.html(document.getElementById('tabla'), {
                callback: function (pdf) {
                    pdf.save(nombre);
                }
            });
        }
    </script>

    @if(flash().get("success")!=null) {
      <script>imprimirMensaje('@flash().get("success")');</script>
    }
    @if(flash().get("error_login")!=null) {
      <script>imprimirError('@flash().get("error_login")');</script>
    }
    @if(flash().get("error")!=null) {
      <script>imprimirError('@flash().get("error")');</script>
    }
</html>
