@import helper._
@(beneficiarioForm: Form[Beneficiario], usuarioForm: Form[Usuario])
@main("¡Registrate!"){

<div class="row" style="margin-top: 10px;">
    <div class="ui middle centered grid">
            @if(flash.containsKey("error")){
                <div class="row">
                    <div class="ui error message">
                        <i class="close icon"></i>
                        <div class="header">Hay algunos errores con tu formulario. </div>
                        <ul class="list">
                            @for(error <- beneficiarioForm.errors()){
                                @if(error.message !="error.invalid" ){ 
                                    <li>@error.message</li>
                                }
                            }
                            @for(error <- usuarioForm.errors()){
                                @if(error.message !="error.invalid" ){ 
                                    <li>@error.message</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                }
        <div class="seven wide tablet seven wide computer column">
            <div class="ui segment" style="background-color: #aae1a9;">
                <h2 class="ui header" style="margin-top:10px; margin-left: 20px;">¡Registrate!</h2>
                <form class="ui form">
                    <h4 class="ui horizontal divider header" style="margin-top:1em;">Datos del Beneficiario</h4>
                    @helper.form(action = routes.CBeneficiario.guardarBen, 'id -> "formBeneficiario") {
                    @CSRF.formField
                    <div class="column" style="margin-left: 25px;margin-right: 25px;">
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Nombre</label>
                                    <input type="text" name="nombreB" id="nombreB" placeholder="Nombre">
                                </div>
                                <div class="field">
                                    <label>Apellido</label>
                                    <input type="text" name="apellidoB" id="apellidoB" placeholder="Apellido">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Cédula</label>
                                    <input type="text" name="cedulaB" id="cedulaB" placeholder="Cédula">
                                </div>
                                <div class="field">
                                    <label>Correo</label>
                                    <input type="text" name="correoB" id="correoB" placeholder="Correo">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="field">
                                    <label>Dirección</label>
                                    <input type="text" name="direccionB" id="direccionB" placeholder="Dirección">
                                </div>
                                <div class="field">
                                    <label>Teléfono</label>
                                    <input type="text" name="telefonoB" id="telefonoB" placeholder="Teléfono">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui horizontal divider header" style="margin-top:1.5em; margin-bottom:1em;">Datos de
                        ingreso</h4>
                    <div class="column" style="margin-left: 25px;margin-right: 25px;">
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Contraseña</label>
                                    <input type="password" name="contrasenna" id="contrasenna" placeholder="Contraseña">
                                </div>
                                <div class="field">
                                    <label>Confirmar Contraseña</label>
                                    <input type="password" name="conf_contrasenna" id="conf_contrasenna"
                                    placeholder="Confirmar contraseña">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input  id="estatusB" name="estatusB" type="hidden" value="A">
                    <a class="ui green button"
                    style="margin-top: 1em; margin-left: 14em"                    
                    onclick="javascript:confirmarCreacionBeneficiario()">
                    Registrarse
                    </a>
                </form>
            </div>
            <div class="ui center aligned segment" style="background-color:#aae1a9;">
                <a href="@routes.CLogin.index"><b>¡Inicia Sesión!</b></a>
            </div>
        </div>
    </div>
</div>
</div>
}
}