@main("¡Registrate!"){

<div class="row" style="margin-top: 50px;">
    <div class="ui middle centered grid">
        <div class="seven wide tablet seven wide computer column">
            <div class="ui segment" style="background-color: #aae1a9;">
            <h2 class="ui header" style="margin-top:10px; margin-left: 20px;">!Registrate!</h2>
<form class="ui form">
    <h4 class="ui dividing header">Información de usuario</h4>
    <div class="field">
        <label>Usuario</label>
        <div class="three fields">
            <div class="field">
                <input type="text" usuario="shipping[Nombre de Usuario]" placeholder="Nombre de Usuario">
            </div>
            <div class="field">
                <input type="text" contrasenna="shipping[Contraseña]" placeholder="Contraseña">
            </div>
            <div class="field">
                <input type="text" contrasenna="shipping[Confirmar contraseña]" placeholder="Confirmar contraseña">
            </div>  
        </div>
    </div>
    <h4 class="ui dividing header">Datos del beneficiario</h4>
    <div class="field">
        <label>Nombre y apellido</label>
        <div class="two fields">
            <div class="field">
                <input type="text" Nombre="shipping[Nombre]" placeholder="Nombre">
            </div>
            <div class="field">
                <input type="text" Apellido="shipping[Apellido]" placeholder="Apellido">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Identificación</label>
                <input type="text" cedula="shipping[cedula]" placeholder="Cédula o RIF">
            </div>
            <div class="field">
                <label>Correo</label>
                <input type="text" correo="shipping[correo]" placeholder="Correo">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Dirección</label>
                <input type="text" direccion="shipping[Direccion]" placeholder="Dirección">
            </div>
            <div class="field">
                <label>Teléfono</label>
                <input type="text" Telefono="shipping[Telefono]" placeholder="Teléfono">
            </div>
        </div>
                    <button class="ui teal attached button" style="margin-top: 1em; margin-left: 14em">
                        Registrarse
                    </button>
    </div>
</div>
            </div>
        </div>
    </div>
</div>
}