@main("Reportes"){
<div class="ui content" style="margin-left: 10em;margin-right: 10em;">
    <div class="ui fluid segment" style="background-color:#86ba90;margin-top: 3em;">
        <h3>Reportes</h3>
        <div class="ui large celled selection list">
            <a class="item" href="@routes.HomeController.rp_solicitantes">
                <i class="ui avatar users big icon"></i>
                <div class="content">
                    <div class="header">Solicitantes</div>
                    Detalles de los solicitantes por fundación
                </div>
            </a>
            <a class="item" href="@routes.HomeController.rp_presupuesto">
                <i class="ui avatar percent big icon"></i>
                <div class="content">
                    <div class="header">Presupuestos</div>
                    Listado de presupuestos y detalles de presupuesto disponible por fundación y porcentaje gastado.
                </div>
            </a>
            <a class="item" href="@routes.CSolicitud.rp_solicitudes">
                <i class="ui avatar edit outline big icon"></i>
                <div class="content">
                    <div class="header">Solicitudes</div>
                    Listado de las diferentes solicitudes asignadas a un responsable
                </div>
            </a>
        </div>
    </div>
</div>
}