@main("Reporte Solicitantes"){
<!--PARA USUARIOS EMPLEADO Y ADMIN-->
<div class="row">
    <div class="ui center aligned grid" >
        <div class="four wide column">
            <a href="@routes.CReporte.lista_reportes">
                <button class="ui left floated blue button" style="margin-top:1em;margin-left: 2em;">Atrás</button>
            </a>
        </div>
        <div class="five wide column">
            <div class="ui container center aligned">
                <h2>Reporte Solicitantes por fundación</h2>
            </div>
            <div class="ui segment" style="background-color: #98db97;">
                <h4>Fundaciones</h4>
                <select class="ui dropdown">
                    <option value="">Fundaciones</option>
                    <option value="0">Todos</option>
                    <option value="1">Fundación de Ayuda a Niños, Niñas y Adolescentes</option>
                    <option value="2">Fundación de Atención al Discapacitado</option>
                    <option value="3">Fundación Regional de la Mujer</option>
                </select>
                <div class="ui container center aligned">
                    <button class="ui green button" style="margin-top:1em;">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <button class="ui right floated red button" style="margin-top:1em;margin-right: 3em;">Exportar PDF</button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="ui content center aligned" style="margin-right: 15em;margin-left: 15em;">
        <table class="ui celled inverted grey table">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>María Paredes</td>
                    <td>Barquisimeto</td>
                    <td>mariap@@ggmail.com</td>
                    <td>0424-9726541</td>
                </tr>
                <tr>
                    <td>María Rico</td>
                    <td>Barquisimeto</td>
                    <td>mariar@@ggmail.com</td>
                    <td>0424-9726541</td>
                </tr>
                <tr>
                    <td>Omerly Mendoza</td>
                    <td>Quibor</td>
                    <td>omerlym@@ggmail.com</td>
                    <td>0424-9726541</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}