@(fundaciones: List[Fundacion],solicitudes:List[Solicitud])
@main("Reporte presupuesto"){
<div class="ui container center aligned">
    <h2>Reportes de Presupuesto</h2>
</div>
<div class="row">
    <div class="ui grid" style="margin-left: 2em;margin-top: 10px;">
        <div class="three wide column">
            <a href="@routes.CReporte.lista_reportes">
                <button class="ui left floated blue button" style="margin-left: 2em;">Atrás</button>
            </a>
        </div>
        <div class="four wide column">
            <div class="ui segment" style="background-color: #98db97;">
                <h4>Estatus</h4>
                <select class="ui dropdown" id="estatus_pre">
                    <option>Todos</option>
                    <option>Pendiente</option>
                    <option>Aprobada</option>
                    <option>Negada</option>
                </select>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui segment" style="background-color: #98db97;">
                <h4>Presupuesto por fundación</h4>
                <div class="row">
                @helper.CSRF.formField
                    <select class="ui dropdown" id="fundacion">
                        <option value="">Fundaciones</option>
                    @for(fund<-fundaciones){
                        <option value="@fund.getCod_fundacion()">@fund.getNombre()</option>
                    }
                    </select>
                    <button onclick="javascript:calcularPresupuesto();" class="ui right floated green button">Calcular</button>
                </div>
                <div class="ui container" style="margin-top:10px;">
                    <div class="ui two column grid">
                        <div class="column">
                            <label>Disponible</label>
                        </div>
                        <div class="column">
                            <div class="ui input">
                                <input placeholder="bs" id="bs" type="text">
                            </div>
                        </div>
                        <div class="column">
                            <label>Porcentaje gastado</label>
                        </div>
                        <div class="column">
                            <div class="ui input">
                                <input placeholder="%" id="porcentaje" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <button class="ui right floated red button" style="margin-right: 4em;" onclick="download('Reporte de presupuesto.pdf')">Exportar
                PDF</button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="ui content center aligned" style="margin-right: 15em;margin-left: 15em;">
        <table id="tabla" class="ui celled inverted grey table">
            <thead>
                <tr>
                    <th>Nombre del Beneficiario</th>
                    <th>Cantidad de servicios prestados</th>
                    <th>Costo total</th>
                    <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
            @for(sol<-solicitudes){
                <tr>
                    <td>@sol.getBeneficiario().getNombreB() @sol.getBeneficiario().getApellidoB()</td>
                    <td>@sol.getDetallesolicitud().length</td>
                    <td>@sol.CalcularPresupuesto(sol.getCod_solicitud())</td>
                    <td>@sol.obtenerEstatus()</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}