@main("Reporte solicitudes"){
<div class="row">
    <div class="ui center aligned grid">
        <div class="four wide column">
            <a href="@routes.CReporte.lista_reportes">
                <button class="ui left floated blue button" style="margin-top:1em;margin-left: 2em;">Atrás</button>
            </a>
        </div>
        <div class="five wide column">
                <div class="ui container center aligned">
                        <h2>Reporte Solicitudes por responsable</h2>
                    </div>
            <div class="ui segment" style="background-color: #98db97;">
                <h4>Filtrar Solicitudes por responsable</h4>
                <select class="ui dropdown">
                    <option value="">Empleados</option>
                    <option value="0">Maria</option>
                    <option value="1">Ana</option>
                    <option value="2">Natalia</option>
                    <option value="3">José</option>
                </select>
                <div class="ui container center aligned">
                    <button class="ui green button" style="margin-top:1em;">Filtrar</button>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <button class="ui right floated red button" style="margin-top:1em;margin-right: 3em;">Exportar PDF</button>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="ui content center aligned" style="margin-right: 15em;margin-left: 15em;">
        <table class="ui single line inverted grey table">
            <thead>
                <tr>
                    <th>Nombre del Responsable</th>
                    <th>Fecha de ingreso</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>María Paredes</td>
                    <td>03/07/2019</td>
                    <td>Pendiente</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
                <tr>
                    <td>Juan Peralta</td>
                    <td>03/07/2019</td>
                    <td>Aprobada</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
                <tr>
                    <td>José Medina</td>
                    <td>03/07/2019</td>
                    <td>Rechazada</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}