@main("Servicios"){
<div class="ui three column grid" style="margin-left: 95px; margin-top: 80px;">
    <div class="column">
        <div class="ui card" style="background-color: #b0e5c9">
            <div class="content">
                <i class="right floated big building outline icon"></i>
                <div class="header">Fundación de Ayuda a Niños, Niñas y Adolescentes</div>
            </div>
            <div class="content">
                <div class="ui accordion">
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <a href="@routes.HomeController.incl_servicio"><div class="ui bottom attached green button">
            <i class="add icon"></i>
             Incluir servicio
             </div></a>
        </div>
    </div>
    <div class="column">
       <div class="ui card" style="background-color: #b0e5c9">
            <div class="content">
                <i class="right floated big building outline icon"></i>
                <div class="header">Fundación de Atención al Discapacitado</div>
            </div>
            <div class="content">
                <div class="ui accordion">
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <a href="@routes.HomeController.incl_servicio"><div class="ui bottom attached green button">
            <i class="add icon"></i>
             Incluir servicio
             </div></a>
        </div>
    </div>
     <div class="column">
       <div class="ui card" style="background-color: #b0e5c9">
            <div class="content">
                <i class="right floated big building outline icon"></i>
                <div class="header">Fundación Regional de la Mujer</div>
            </div>
            <div class="content">
                <div class="ui accordion">
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title"><i class="dropdown icon"></i>
                     Consulta médica general
                    </div>
                    <div class="content">
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <div class="ui list">
                                        <div class="item">
                                             <div class="header">Tipo:</div>
                                            Médico
                                        </div>
                                        <div class="item">
                                            <div class="header">Costo:</div>
                                            200.000
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                        <button class="ui icon blue button" style="margin-top: 1em; margin-left: 2em;"><i class="edit icon"></i></button>
                                        <button class="ui icon red button" style="margin-top: 3em; marigin-left: 2em;"><i class="trash alternate icon"></i></button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <a href="@routes.HomeController.incl_servicio"><div class="ui bottom attached green button">
            <i class="add icon"></i>
             Incluir servicio
             </div></a>
        </div>
    </div>
</div>
}