@main("Solicitudes"){
<div class="row">
    <div class="ui center aligned grid">
        <div class="four wide column">
            <div class="ui segment" style="background-color: #98db97;">
                <h4>Filtrar por estatus</h4>
                <select class="ui dropdown">
                    <option value="">Estatus</option>
                    <option value="0">Todos</option>
                    <option value="1">Pendiente</option>
                    <option value="2">Aprobada</option>
                    <option value="3">Negada</option>
                </select>
                <div class="ui container center aligned">
                    <button class="ui green button" style="margin-top:1em;">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="ui content center aligned" style="margin-right: 10em;margin-left: 10em;">
        <table class="ui single line inverted grey table">
            <thead>
                <tr>
                    <th>Nombre del Beneficiario</th>
                    <th>Prioridad</th>
                    <th>Presupuesto</th>
                    <th>Estatus</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maria Paredes</td>
                    <td>Alto</td>
                    <td>40.000 Bs</td>
                    <td>Pendiente</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
                <tr>
                    <td>Maria Paredes</td>
                    <td>Alto</td>
                    <td>40.000 Bs</td>
                    <td>Pendiente</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
                <tr>
                    <td>Maria Paredes</td>
                    <td>Alto</td>
                    <td>40.000 Bs</td>
                    <td>Pendiente</td>
                    <td><a href="@routes.CSolicitud.consulta_solicitud" class="circular ui icon button">
                            <i class="icon eye"></i>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}