@(nombre: String, apellido: String)

<div class="ui labeled inverted icon menu" style="background-color:#043b1b;">
    <a class="item" href="@routes.HomeController.inicio">
        <i class="home icon"></i> Inicio
    </a>
    <a class="item" href="@routes.CFundacion.fundaciones">
        <i class="building outline icon"></i> Fundaciones
    </a>
    <a class="item" href="@routes.HomeController.servicios">
        <i class="stethoscope icon"></i> Servicios
    </a>
    <a class="item" href="@routes.CSolicitud.solicitudes">
        <i class="pen square icon"></i> Solicitudes
    </a>
    <a class="item" href="@routes.HomeController.empleados">
        <i class="users icon"></i> Empleados
    </a>
    <a class="item" href="@routes.HomeController.reportes">
        <i class="chart line icon"></i> Reportes
    </a>
    <div class="right menu">
        <a class="item" href="#">
            <i class="user icon"></i>
        </a>
        <a class="item" onclick="javascript:cerrarSesion();">
            <i class="sign-out icon"></i> Cerrar Sesión
        </a>
    </div>
</div>